<% if (arguments[0].breadcrumb) { %>
<c:breadcrumb>
  <% for (const b of breadcrumb) {
    let href = ''
    if (b.href) {
      href = 'href="' + b.href + '"'
      if (b.hrefRebuild) {
        href += ' href-rebuild="' + b.hrefRebuild.join(' ') + '"'
      }
    }
    const icon = b.icon ? (' icon="' + b.icon + '"') : ''
    const content = b.content ? (' t:content="' + b.content + '"') : ''
    const active = b.href ? ' active' : ''
    %>
    <c:breadcrumb-item <%= icon %> <%= href %> <%= content %> <%= active %> />
  <% } %>
</c:breadcrumb>
<% } %>