.icon-rotate-45::before {
  transform: rotate(45deg);
}
.icon-rotate-90::before {
  transform: rotate(90deg);
}
.icon-rotate-180::before {
  transform: rotate(180deg);
}
.icon-rotate-270::before {
  transform: rotate(270deg);
}
.avtr {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}